<article class="product-description">
  <h3>HOUSE MY BRAND</h3>
  <h2>T-Shirt Summer Vibes</h2>
  <div class="product-description__price">
    <span class="product-description__price--new">$89.99</span>
    <span class="product-description__price--old">$119.99</span>
  </div>

  <div class="product-description__color">
    <span class="product-description__headline">Color:</span>
    <div class="cs">
      <div class="cs--black cs__basic"></div>
    </div>
    <div class="cs">
      <div class="cs--yellow cs__basic"></div>
    </div>
    <div class="cs">
      <div class="cs--blue cs__basic"></div>
    </div>
    <div class="cs">
      <div class="cs--white cs__basic"></div>
    </div>
  </div>
</article>
